.ee-button {
    font-size: 18px;
    background: #f1eeff;
    color: #824deb;
    padding: 15px 30px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.ee--common-card:hover .ee-button {
    background: #824deb;
    color: #f1eeff;
}
span.ee--button-icon i {
    margin-right: 10px;
    font-size: 16px;
}
.ee--common-card {
    padding: 20px;
    border: 1px solid #f1eeff;
    border-radius: 4px;
}

.container {
    max-width: 1280px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ee--image-icon-box-wrapper {
    text-align: center;
    position: relative;
    transition: 0.3s;
}

span.ee--image-icon-box-label {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #824deb;
    background: #f1eeff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    z-index: 1;
}
.ee--image-icon-main {
    font-size: 28px;
    background: #824deb;
    color: #f1eeff;
    fill: #f1eeff;
    padding: 20px;
    text-align: center;
    line-height: 0;
    margin: auto;
    display: inline-block;
    border-radius: 4px;
}
.ee--image-icon-main svg{
    width: 40px;
}
.ee--image-icon-main-image img{
    width: 120px;
}
.ee--image-icon-box-heading {
    display: inline-block;
    font-size: 26px;
}
.ee--button-icon {
    display: inline-block;
    color: #824deb;
    fill: #824deb;
}
.ee--button-icon svg {
    min-width: 14px;
}
.ee--image-icon-box-wrapper:hover .ee--button-icon{
    color: #f1eeff;
    fill: #f1eeff;
}







/****************
Infobox Style 2
******************/
.style-2 .ee--infobox-primary-image img {
    max-width: 100%;
    transition: 0.3s;
}
.style-2  .ee--infobox-primary-image {
    overflow: hidden;
    border-radius: 4px;
}

.style-2 .ee--image-icon-main, .style-2 .ee--image-icon-main-image img {
    margin-top: -50px;
    position: relative;
}
.style-2:hover .ee--infobox-primary-image img {
    scale: 1.2;
}