.ee-button {
    text-decoration: none;
    font-size: 18px;
    background: #f1eeff;
    color: #824deb;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 4px;
    transition: 0.3s;
}
.ee--common-card:hover .ee-button {
    background: #824deb;
    color: #f1eeff;
}
span.ee--button-icon i {
    margin-right: 10px;
    font-size: 16px;
}
.ee--common-card {
    padding: 40px;
    border: 1px solid #f1eeff;
    border-radius: 4px;
}

.container {
    max-width: 1280px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ee--image-icon-box-wrapper {
    text-align: center;
    position: relative;
    transition: 0.3s;
}
span.ee--image-icon-box-label {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #824deb;
    background: #f1eeff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
}
.ee--image-icon-main {
    font-size: 28px;
    background: #824deb;
    color: #f1eeff;
    fill: #f1eeff;
    padding: 20px;
    text-align: center;
    line-height: 0;
    margin: auto;
    display: inline-block;
    border-radius: 4px;
}
.ee--image-icon-main svg{
    width: 40px;
}
.ee--image-icon-box-heading {
    display: inline-block;
    font-size: 26px;
}
.ee--button-icon {
    display: inline-block;
    color: #824deb;
    fill: #824deb;
    margin-right: 5px;
}
.ee--button-icon svg {
    min-width: 14px;
}
.ee--image-icon-box-wrapper:hover .ee--button-icon{
    color: #f1eeff;
    fill: #f1eeff;
}